@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');

/*
 * Customizaçõs Principais
*/

* {
    padding: 0;
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
}

:root {
    --primary-color: #CA1C2A;
    --secundary-color: #AA1824;
    --text-primary-color: #004A7B;
    --text-color-article: #004A7B;
    --bg-color-form: #d9d9d9b6;
    --text-secundary-color: #DF202F;
    --bg-color-entradas: #D1D1D1;
    --text-planos-color: #006bcd;
    --bg-color-article: #f0f0f0;
    --shadow-color-primary: #e7e7e7;
    --shadow-color-secundary: #ffffff;
    --bg-color-padrao: white;
    --text-button-hover: white;
    --bg-color-button-theme: black;
    --invert: 0;
}


body {
    background-color: var(--bg-color-padrao);
    width: 100%;
    height: 100%;
}

/*
 * customizações do header secundario
*/

#header-secundario {
    background-color: var(--secundary-color);
    display: flex;
    justify-content: end;
    align-items: center;
    height: 27px;
}

#header-secundario ul {
    display: flex;
    margin: 0 10px;
}


#header-secundario ul li button {
    display: flex;
    border: none;
    align-items: center;
    padding: 0 11px;
    height: 20px;
    background-color: white;
    margin: 0 0 0 10px;
    border-radius: 100px;
    cursor: pointer;
    font-weight: bold;
}

#themes {
    background-color: var(--bg-color-button-theme) !important;
}

#themes img {
    filter: invert(var(--invert));
}

#header-secundario ul li button img {
    width: 30px;
}

#janela-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 5px;
    transition: 500ms;
    top: -120px;
}

#janela-user nav ul {
    list-style-type: none;
}

#janela-user nav ul li button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    background-color: white;
    border: 1px solid rgb(177, 177, 177);
    font-size: 12px;
    transition: 300ms;
    cursor: pointer;
}

#janela-user nav ul li button:hover {

    background-color: rgb(207, 207, 207);

}

/*
 * customizações do header primario
*/

#primary-header {
    background-color: var(--primary-color);
    width: 100%;
    height: 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 15px rgb(122, 122, 122);
}

#primary-header img {
    width: 200px;
    border-radius: 50px;
    margin: 0 30px;
    cursor: default;
}

#primary-header nav ul {
    display: flex;
}


#primary-header nav ul li a {
    text-decoration: none;
    color: var(--text-primary-color);
    font-weight: bold;
    font-size: 15px;
    height: 36px;
    width: 143px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
    margin: 0 20px 0 3px;
}

/*
 * customizações do formulario
*/

/*
 * customizações login
*/

#form-login {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color-form);
    width: 400px;
    padding: 70px 70px;
}

.banner {
    background-color: var(--primary-color);
    width: 298px;
    height: 58px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 13px 0;
    color: white;
}

.banner h1 {
    font-size: 24px;
    color: white;
}

#container-entradas-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 50px 0 45px;
}

.entrada-login {
    width: 289px !important;
}

#container-button-login {
    position: relative;
    width: 289px;
    display: flex;
    justify-content: center;
}

#msg-login {
    position: absolute;
    width: 110px;
    left: 0px;
    top: 2px;
}

#msg-login-senha {
    position: absolute;
    width: 95px;
    right: 0px;
    top: 0px;
}



#container-button-login button {
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    width: 133px;
    height: 45px;
    cursor: pointer;
    margin-top: 40px;
    transition: background 0.8s;
}

/*
 * customizações cadastro
*/

#form-cadastro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-form);
    width: 770px;
    padding: 10px 0 30px 0;
    border-radius: 30px;
}

#area-entradas {
    display: flex;
    justify-content: center;
}

.container-entradas-cadastro {
    display: flex;
    flex-direction: column;
}

#area-esquerda {
    margin-right: 20px;
}

.area-dupla {
    display: flex;
}

.area-dupla div {
    display: flex;
    flex-direction: column;
}

.area-dupla div:first-child {
    margin-right: 10px;
}

#area-direita {
    margin-left: 20px;
}

#conteiner-buttons-cadastro {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 730px;
}

#msg-cadastro {
    position: absolute;
    width: 180px;
    top: 50%;
    transform: translate(0, -50%);
    left: 80%;
}

#button-cadastro {
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    width: 133px;
    height: 45px;
    cursor: pointer;
    transition: background-color 0.8s;
}

/*
 * Funcionalidades
*/

.linkado {
    border-radius: 48px;
    background: #ffffff;
    box-shadow: inset 16px 16px 22px #c9c9c9,
        inset -16px -16px 22px #ebeaea;
    color: #072f4d !important;
    cursor: default;
}

.icon-theme-write {
    background-color: white !important;
}

.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -42%);
}

#button-cadastro:hover,
#button-login:hover {
    background-color: #ad121f;
}


#msg-login,
#msg-cadastro,
#a-help,
#a-help-senha {
    text-decoration: none;
    font-size: 11px;
}

#msg-login a,
#msg-login-senha a,
#msg-cadastro a {
    color: var(--text-secundary-color);
    font-weight: bold;
    text-decoration: none;
}

/*
 * Unitarios
*/

ul {
    list-style-type: none;
}

label {
    font-size: 13px;
    font-weight: bolder;
    margin: 10px 0;
}

input,
select {
    width: auto;
    height: 41px;
    background-color: var(--bg-color-entradas);
    border: none;
    text-align: center;
    transition: outline 80ms;
}

select {
    width: auto !important;

}

input[type="date"] {
    width: 122% !important;
    text-align: center;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
    position: absolute;
    right: 5px;
    width: 20px;
}

input:focus,
select:focus {
    outline: 2px solid var(--text-secundary-color);
}

#primary-header-tela1 {
    background-color: var(--primary-color);
    width: 100%;
    height: 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 20px 1px rgb(122, 122, 122);
}

#primary-header-tela1 img {
    width: 200px;
    border-radius: 50px;
    margin: 0 30px;
}

#primary-header-tela1 nav ul {
    display: flex;
}

#primary-header-tela1 nav ul li a {
    text-decoration: none;
    color: var(--text-primary-color);
    font-weight: bold;
    font-size: 15px;
    height: 30px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
    margin: 0 20px 0 3px;
}

main {

    display: flex;
    flex-direction: column;
    color: var(--text-color-article);
}

#carrossel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    box-shadow: inset 200px 0 600px -150px #5a5a5a,
        inset -200px 0 600px -150px #535353;
}

#imagens {
    width: 100vw;
    height: 352px;
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: hidden;
    padding: 0 50px;
}

.slides {
    flex: none;
    width: 1100px;
    height: 100%;
    margin: 0 70px;
    z-index: -1;
    scroll-snap-align: center;
}

#beneficios,
#planos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#beneficios::before,
#planos::before,
#mapa::before {
    content: "";
    width: 800px;
    box-shadow: 0 0 10px 1px rgb(150, 149, 149);
    margin: 50px 0 50px 0;
}

#container-beneficios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;
    margin-bottom: 20px;

}

h2 {
    z-index: 1;
}

#container-beneficios article h2 {
    font-size: 18px;
}

#container-beneficios article p {
    font-size: 12px;
    text-align: center;
}

#container-beneficios article,
#internet article,
#telefonia article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
    background: var(--bg-color-article);
    box-shadow: -22px 22px 20px var(--shadow-color-primary),
        22px -22px 20px var(--shadow-color-secundary);
    width: 230px;
    height: 230px;
    margin: 30px 30px;
    padding: 10px;
    transition: transform 0.5s;
}

#container-beneficios article:hover,
#internet article:hover,
#telefonia article:hover {
    transform: scale(110%);
}

#internet article .black,
#telefonia article .black {
    color: black;
}

#internet article span,
#telefonia article span {
    font-weight: bold;
    color: var(--text-planos-color);
}

#internet article h2,
#internet article h3,
#telefonia article h2 {
    font-weight: lighter;
}



#container-planos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#container-planos h2 {
    margin: 20px 0 0 0;
    font-size: 20px;
}



#internet,
#telefonia {
    display: flex;
}

#internet article button,
#telefonia article button {
    background-color: var(--bg-color-article);
    width: 100px;
    height: 30px;
    border: 1px solid var(--text-planos-color);
    color: var(--text-planos-color);
    transition: 0.5s;
    cursor: pointer;
}



#internet article button:hover,
#telefonia article button:hover {
    background-color: var(--text-planos-color);
    color: var(--text-button-hover);
}

#mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#display-map {
    border-radius: 40px;
    box-shadow: -22px 22px 20px var(--shadow-color-primary),
        22px -22px 20px var(--shadow-color-secundary);
    margin: 40px 0 70px 0;
    transition: transform 0.5s;
    border: none;
}

#display-map:hover {
    transform: scale(110%);
    position: sticky;
}